html{
    font-size: 125%;
}
body{
    font-size: 1.6rem;
    background-color: #79c99e;
}
.wrapper{
    margin: 0 auto;
    max-width: 1600px;
    width: 70%;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Noto Serif', serif;
    color: white;
    text-align: center;
}

h1{
    font-size: 2rem;
    margin: 25px 0 50px 0;
}

h2{
    font-size: 1.6rem;
    margin: 5px 0;
}
h3{
    font-size: 1.4rem;
    margin: 0;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
}


@media (max-width: 900px){
    .wrapper{
        width: 90%;
    }
    h1{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.4rem;

    }
    h3{
        font-size: 1.2rem;
        margin: 0;
    }
}