.game-container{
    border-radius: 25px;
    background-color: #eff1f3;
    h2{
        color: black;
        padding-top: 10px;
    }
    h3{
        color: black;
    }
    p{
        color: black;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

section p{
    text-align: center;
}

.frame0 p{
    text-align: center;
    padding-top: 25px;
}
@media(max-width: 700px){
    section{
        height: 60vh;
    }
}