@import "partials/_setup";
@import "partials/_general-styles";
@import "partials/_aside";
@import "partials/_footer";



section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}


.random-number-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 2.2rem;
}
.random-number-container p {
    text-align: center;
    padding: 20px 0;
}

.time-bar-container{
    width: 400px;
    height: 20px;
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: content-box;

}
.countdown{
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    p{
        margin: 0;
        padding: 0;
    }
}

.progress-bar{
    width: 400px;
    height: 20px;
    background: #ffd344;
    border-radius: 20px;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
input{
    margin: 10px 0 25px 0;
    border-radius: 50px;
    border: none;
    background-color: #2b9556;
    text-align: center;
    color: white;
    height: 60px;
    &::placeholder{
        font-size: 1.2rem;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.frame0 p{
    text-align: center;
}